<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008813744526-t6p7su41a6246n23408ngrbain29v2f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008813744526-t6p7su41a6246n23408ngrbain29v2f0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008813744526-is603p47kr1bkpbtt7tv6di6g5viieh3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvUt7N84SLRaHmmIZ-u9kJQgzqqqXd-X0</string>
	<key>GCM_SENDER_ID</key>
	<string>1008813744526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterPage</string>
	<key>PROJECT_ID</key>
	<string>signin-registration</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-registration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008813744526:ios:d692e049e8db3210a684df</string>
</dict>
</plist>